
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 1000;
    padding: 1rem 2rem;
  }
  
 
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid rgb(35, 38, 97);
    height: 100%;
  }
  

  .nav-left,
  .nav-right {
    flex: 1;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    justify-content: space-evenly;
  }
  

  .nav-center {
    flex: 1;
    text-align: center;
  }
  

  .logo {
    color: var(--color-primary-gold); 
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  

  a {
    color: var(--color-light-neutral);
    text-decoration: none;
    font-weight: 600;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: var(--color-primary-gold); 
  }
  

  main {
    padding-top: 80px;
  }
  
  .nav-center img {
    height: 50px; /* adjust to fit your design */
    width: auto;
    object-fit: contain;
  }